doctype 5
html
   body
      .container
         .row
            .col-md-12
               nav.navbar.navbar-default(role='navigation')
                  .col-md-12
                     .navbar-header
                        a.navbar-brand(href='#') My Portfolio
                     ul.nav.navbar-nav.navbar-right
                        li
                           a(href='#') Link
                        li
                           a(href='#') Link
                        li
                           a(href='#') Link
         .jumbotron
            h2 My name				
            p
               | I'm a 
               a(href='http://freecodecamp.com/', target='_blank') coder
               | .
         .row
            .col-md-4
               h2 						Heading					
               img.img-responsive(src='http://i.imgur.com/jESF2.jpg')
               p
                  | Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.
            .col-md-4
               h2 						Heading					
               img.img-responsive(src='http://i.imgur.com/jESF2.jpg')
               p
                  | Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.
            .col-md-4
               h2 						Heading					
               img.img-responsive(src='http://i.imgur.com/jESF2.jpg')
               p
                  | Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.
         .jumbotron
            h2.text-center Contact me
            .row
               .col-md-3
                  button.btn.btn-block
                     a(href='#', target='_blank') Free Code Camp
               .col-md-3
                  button.btn.btn-block
                     a(href='#', target='_blank') Free Code Camp
               .col-md-3
                  button.btn.btn-block
                     a(href='#', target='_blank') Free Code Camp
               .col-md-3
                  button.btn.btn-block
                     a(href='#', target='_blank') Free Code Camp
